.TopHeader{
    border-bottom:1px solid #cccccca3;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display:flex;
    justify-content: space-between;
    width:1170px;
    margin:0 auto;
    padding:10px 0px;
}
.searchBox{
    font-size:18px;
    margin-top:5px;
}

.searchBox span{margin-right:15px;}

.searchBox .searchInput{
    font-family: 'Montserrat', sans-serif;
    border:0;
    font-weight:500;
    letter-spacing: 2px;
    padding-bottom:5px;
    width:100px;
    border-bottom:1px solid #ccc;
}
.searchInput:focus {
    outline: none;
}

.SocialBox ul{
    margin:0;
}
.SocialBox ul li{
    border:1px solid #ccc;
    border-radius: 100px;
    width:35px;
    height:35px;
    display:inline-block;
    margin:0px 5px;
    text-align:center;

}
.SocialBox ul li i{
    /* margin:0 auto; */
    padding-top:8px;
}